nav{
  position: fixed;
  height: 100%;
  width: 300px;

  background-color: rgb(247,247,247);
}
nav > .head {
  height:100px;
  margin-top: -5px;
  text-align: center;

  background-color: rgb(243,240,241);
}
.head > img{
  height: 60px;
  margin-top: 20px;
  width: auto;
  text-align: center;
}

.sidenav{
  margin-top: 30px;
}

.sidenav a{
  padding: 10px 50px;

  text-decoration: none;
  font-size: 22px;
  display: block;
  cursor: pointer;

  color: #818181;
}

.sidenav a:hover {
  color: black;
  background-color: rgb(243,240,241);
  transition: 1s;
}
.demoPic{
  border-radius: 10px;

}
.active{
  color: black !important;
  background-color: rgb(243,240,241);
}
.checked {
  color: orange;
}
.fa-star.last{
  margin-right: 5px;
}
