nav{
  position: fixed;
  height: 100%;
  width: 360px;

  background-color:  #f8f8f8;
}
nav > .head {
  height:120px;
  margin-top: -5px;
  text-align: center;

  background-color: rgb(243,240,241);
}
.head > img{
  height: 60px;
  margin-top: 35px;
  width: auto;
  zoom: 80%;
  margin-top: 55px;
  text-align: center;
}
.sidenav{
  margin-top: 30px;
}
.sidenav a{
  padding: 10px 50px;

  text-decoration: none;
  font-size: 22px;
  display: block;
  cursor: pointer;

  color: #818181;

}
.sidenav > a > img{
  width: 30px;
  margin-right: 20px;
  margin-top: -5px;

}
.sidenav a:hover {
  color: black;
  background-color: rgb(243,240,241);
  transition: 1s;
}
.userMenu{
  position: absolute;
  padding: 5px 20px;
  top: 40px;
  right: 60px;

}
.userMenu > a{
  font-weight: bold;
  font-size: 22px;
  color: #767676;
  margin-left: 20px;
}
.userMenu > a:hover{
  cursor: pointer;
}
.userMenu > a > span{

}
.active{
  color: black !important;
  font-weight: bold;
  background-color: rgb(243,240,241);
  border-right: 5px solid #ff751b;
}
