/*
Bakgrundsfärger:
Ljusgrå: #f8f8f8
Orange: #ff751b
Mörkgrå: #c4c3c3
*/
/*
Textfärger:
Mörkt #282828
Mellan: #767676
Ljus: #aaa9a9
*/

/*
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat-Bold'),
    local('Montserrat-Bold'),
    url(../assets/font/Montserrat-Bold.otf) format('woff2'),
    url(../assets/font/Montserrat-Regular.otf) format('woff');
}
*/
/* text --> FONT */

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./Montserrat-Bold.otf) format('otf');
}


div.page{
  font-family: 'Montserrat';
  zoom:80%;
  width: 100%;
}
.svg{
  width: 36px;
  margin-left: -3px;
  margin-right: 14px;
  margin-bottom: -10px;
}
#path0{
  fill: #767676;

}
h1{
  font-family: 'Montserrat';
  font-weight: bolder !important;
  font-size: 42px;

}
h2{
  font-weight: bold;
}
h4{
  color: #767676;
  font-weight: bold;
}

div.sidenav > a{
  font-size: 26px;
}
.course > div > .well > .row > div > h2{
  font-size: 26px;
}

.userdeals > p {
  font-size: 22px;
}
button{
  font-weight: bold !important;
}
textarea:focus
{
   outline: none !important;
   border:1px solid red !important;
   box-shadow: 0 0 7px #ff751b !important;
}
input:focus{
   outline: none !important;
   border:1px solid red !important;
   box-shadow: 0 0 7px #ff751b !important;
}
.well{
  background-color: #f8f8f8 !important;
}

/* Grid */
nav{
  grid-area: header;
}
section{
  grid-area: main;
  margin-left: 10px;
  margin-top: 30px;
}
.page {
  display: grid;
  grid-template-columns: 400px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header main main main"
    "header main main main"
    "header main main main";
}
