/*
Bakgrundsfärger:
Ljusgrå: #f8f8f8
Orange: #ff751b
Mörkgrå: #c4c3c3
*/
/*
Textfärger:
Mörkt #282828
Mellan: #767676
Ljus: #aaa9a9
*/

/*
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat-Bold'),
    local('Montserrat-Bold'),
    url(../assets/font/Montserrat-Bold.otf) format('woff2'),
    url(../assets/font/Montserrat-Regular.otf) format('woff');
}
*/

/* text --> FONT */
div.page{
  font-family: 'Montserrat';
}
h1{
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 42px;
}
div.sidenav > a{
  font-size: 26px;
}
.course > div > .well > .row > div > h2{
  font-size: 26px;
}

.userdeals > p {
  font-size: 22px;
}


/* Grid */
nav{
  grid-area: header;
}
section{
  grid-area: main;
}
.page {
  display: grid;
  grid-template-columns: 400px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header main main main"
    "header main main main"
    "header main main main";
}
